<!-- views/404.njk -->
{% extends "_layout.njk" %}

{% block content %}
<div class="uk-text-center">
  <h1 class="uk-heading-medium">404</h1>
  <p class="uk-text-large">Страница не найдена</p>
  <a href="/" class="uk-button uk-button-primary">Вернуться на главную</a>
</div>
{% endblock %}
